.item-tile {
    -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.2), 8.0, 0.0, 0.0, 1.0);

}

.item-tile-name {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-padding: 0.666667em;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

.item-tile-location {
    -fx-text-fill: dimgray;
}

.item-tile-description {
    -fx-alignment: top-left;
}

.item-tile-bottom-box {
    -fx-background-insets: 0.0, 0.4;
    -fx-background-radius: 3.0;
    -fx-padding: 0.666667em;
    -fx-background-color: derive(-fx-background, -10.0%), #FFFFFF;
}