.quick-info-popup {
    -fx-background-color: -fx-box-border,  #FFFFFF;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 0.0, 0.0;
    -fx-padding: 0.833333em;
    -fx-spacing: 0.416667em;
    -fx-fill:  derive(#D4D4D4, -70.0%);
    -fx-effect: dropshadow(three-pass-box, -fx-fill, 10.0, 0.0, 0.0, 3.0);
}
.info-text {
    -fx-fill:  derive(#D4D4D4, -70.0%);
    -fx-font-size: 1.2em;
}
